.idea
.DS_Store

flask-app/__pycache__/

# On server override must be created from either docker-compose.dev.yml or docker-compose.prod.yml
docker-compose.override.yml

# Files created by scripts
raw.csv
download.file
rawutf8.csv
rawutf8.csv.raw
clean.csv
es.json
es.json*

