body {
}

header {
	background-color: #eee;
	padding: 20px;
}

main {
	padding: 20px;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #eee;
}

.message {
	background-color: #ffffed;
	padding: 3px;
	border-radius: 2px;
	color: #333333;
}

.filters {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #eee;
}

.checkboxes {
	margin-top: 5px;
	display: flex;
}

.check {
	margin-right: 20px;
}

.filter-title {
	font-weight: bold;
}

.filter-info {
	font-size: 0.8rem;
	color: #666666;
}

.result_source {
	font-size: 0.8rem;
	color: #999;
}

.result_source a {
	font-size: 0.8rem;
	color: #999;
	text-decoration: underline;
}
