html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}

header {
	background-color: #eee;
}

.header-content {
	padding: 20px;
	max-width: 960px;
	margin: auto;
	display: flex;
}

.header-content h1 {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1.8rem;
}

.logo {
	margin-right: 20px;
}

.logo img {
	height: 60px; 
	border-radius: 50%;
	border: 7px solid white;
}

main {
	padding: 20px;
	max-width: 960px;
	width: 100%;
	margin: auto;
	flex: 1 0 auto;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #eee;
	flex-shrink: 0;
}

.message {
	background-color: #ffffed;
	padding: 3px;
	border-radius: 2px;
	color: #333333;
}

.filters {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 5px;

}

.checkboxes {
	margin-top: 5px;
	display: flex;
}

.check {
	margin-right: 20px;
	font-size: 0.9rem;
}

.filter-title {
	font-weight: bold;
}

.filter-info {
	font-size: 0.8rem;
	color: #666666;
}

.result_source {
	font-size: 0.8rem;
	color: #999;
}

.result_source a {
	font-size: 0.8rem;
	color: #999;
	text-decoration: underline;
}

