<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% include 'header.html' %}
<main>
 {% include 'search.html' %}
   {% if message %}
	<div class="message">{{ message | safe }}</div>
   {% endif %}

   {% if nr_results %}
		<div class="text-muted" style="margin-top: 5px">
		{{ nr_results }} results for <b><i>{{ searched_for }}</i></b><br />
		</div>
   {% endif %}
 <br />
 {% for result in results %}
   <b>{{ result.name }}</b><br />
   {{ result.city }}{% if result.state %}, {{ result.state }}{% endif %}, {{ result.country }}<br />
   {% if result.website %}
     <a href="{{ result.website }}" target="_blank">
        {{ result.website }}
     </a><br />
   {% endif %}
   {% if result.country == "USA" %}
   <div class="platform-link">
	   <a href="https://www.guidestar.org/profile/{{ result.official_id }}" target="_blank">Profile on GuideStar</a><br />
   </div>
   {% endif %}
   <div class="result-source"><a href="{{ result.source_url }}" target="_blank">Source</a> {{ result.source_date }}
   </div>
   <hr>
 {% endfor %}
</main>
{% include 'footer.html' %}
</body>
</html>
