<form>
	<input type="search" id="site-search" name="search" aria-label="Search charities" value="{{ searched_for }}">
  <button>Search</button>
  <div class="filters">
	  <div class="filter-title">Filter by base country</div>
	  <div class="checkboxes">
		  <div class="check"><input type="checkbox" name="country" value="AU" {% if "AU" in countries %}checked{% endif %}> Australia</div>
		  <div class="check"><input type="checkbox" name="country" value="CA" {% if "CA" in countries %}checked{% endif %}> Canada</div>
		  <div class="check"><input type="checkbox" name="country" value="GB-NIR" {% if "GB-NIR" in countries %}checked{% endif %}> N-Ireland</div>
		  <div class="check"><input type="checkbox" name="country" value="NZ" {% if "NZ" in countries %}checked{% endif %}> New-Zealand</div>
		  <div class="check"><input type="checkbox" name="country" value="SC" {% if "SC" in countries %}checked{% endif %}> Scotland</div>
		  <div class="check"><input type="checkbox" name="country" value="USA" {% if "USA" in countries %}checked{% endif %}> USA</div>
	  </div>
	  <br />
	  <div class="filter-title">Filter by category</div>
	  <div class="filter-info">Not all countries have been categorized yet.</div>
	  <div class="checkboxes">
		  <div class="check"><input type="checkbox" name="category" value="AU" {% if "HUM" in countries %}checked{% endif %}> Human</div>
		  <div class="check"><input type="checkbox" name="category" value="AU" {% if "NAT" in countries %}checked{% endif %}> Nature (Animals, Plants, etc)</div>
	  </div>
  </div>
</form>
