<form id="searchform">
	<div class="search-bar-button form-group">
		<div class="input-group col-md-8" style="padding-left: 0; padding-right: 0">
			<input class="form-control form-control-lg" 
				type="search" 
				id="site-search" 
				name="search" 
				aria-label="Search charities" 
				value="{{ searched_for }}" 
				placeholder="Search for a charity">
			<span class="input-group-append">
				<button type="submit" class="btn btn-primary" form="searchform"> 
					<div class="rotate-45">&#9906;</div>
				</button>
			</span>
		</div>
	</div>
  <div class="filters">
	  <div class="filter-group">
		  <div class="filter-title filter-group-label">Filter by base country</div>
		  <div class="checkboxes">
			  <div>
				  <div class="check"><label><input type="checkbox" name="country" value="AU" {% if "AU" in countries %}checked{% endif %}> Australia</label></div>
				  <div class="check"><label><input type="checkbox" name="country" value="CA" {% if "CA" in countries %}checked{% endif %}> Canada</label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="country" value="GB-NIR" {% if "GB-NIR" in countries %}checked{% endif %}> N-Ireland</label></div>
				  <div class="check"><label><input type="checkbox" name="country" value="NZ" {% if "NZ" in countries %}checked{% endif %}> New-Zealand</label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="country" value="SC" {% if "SC" in countries %}checked{% endif %}> Scotland</label></div>
				  <div class="check"><label><input type="checkbox" name="country" value="USA" {% if "USA" in countries %}checked{% endif %}> USA</label></div>
			  </div>
		  </div>
	  </div>
	  <hr>
	  <div class="filter-group">
		  <div class="filter-group-label">
		  <div class="filter-title">Filter by category</div>
		  <div class="filter-info">Not all countries have been categorized.</div>
		  </div>
		  <div class="checkboxes">
			  <div>
				  <div class="check"><label><input type="checkbox" name="category" value="ANI" {% if "ANI" in selected_categories %}checked{% endif %}> Animals <div class="badge badge-light badge-pill">ANI</div></label></div>
				  <div class="check"><label><input type="checkbox" name="category" value="CUL" {% if "CUL" in selected_categories %}checked{% endif %}> Culture <div class="badge badge-light badge-pill">CUL</div></label></div>
				  <div class="check"><label><input type="checkbox" name="category" value="COM" {% if "COM" in selected_categories %}checked{% endif %}> Community & others <div class="badge badge-light badge-pill">COM</div></label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="category" value="EDU" {% if "EDU" in selected_categories %}checked{% endif %}> Education <div class="badge badge-light badge-pill">EDU</div></label></div>
				  <div class="check"><label><input type="checkbox" name="category" value="HEA" {% if "HEA" in selected_categories %}checked{% endif %}> Health <div class="badge badge-light badge-pill">HEA</div></label></div>
				  <div class="check"><label><input type="checkbox" name="category" value="NAT" {% if "NAT" in selected_categories %}checked{% endif %}> Nature <div class="badge badge-light badge-pill">NAT</div></label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="category" value="REL" {% if "REL" in selected_categories %}checked{% endif %}> Religion <div class="badge badge-light badge-pill">REL</div></label></div>
				  <div class="check"><label><input type="checkbox" name="category" value="SPO" {% if "SPO" in selected_categories %}checked{% endif %}> Sports <div class="badge badge-light badge-pill">SPO</div></label></div>
			  </div>
		  </div>
	  </div>
  </div>
</form>
