<form id="searchform">
	<div class="search-bar-button form-group">

		<div class="input-group col-md-8" style="padding-left: 0; padding-right: 0">
			<input class="form-control form-control-lg" 
				type="search" 
				id="site-search" 
				name="search" 
				aria-label="Search charities" 
				value="{{ searched_for }}" 
				placeholder="Search for a charity">
			<span class="input-group-append">
				<button type="submit" class="btn btn-primary" form="searchform"> 
					<div class="rotate-45">&#9906;</div>
				</button>
			</span>
		</div>
	</div>
  <div class="filters">
	  <div class="filter-group">
		  <div class="filter-title filter-group-label">Filter by base country</div>
		  <div class="checkboxes">
			  <div>
				  <div class="check"><label><input type="checkbox" name="country" value="AU" {% if "AU" in countries %}checked{% endif %}> Australia</label></div>
				  <div class="check"><label><input type="checkbox" name="country" value="CA" {% if "CA" in countries %}checked{% endif %}> Canada</label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="country" value="GB-NIR" {% if "GB-NIR" in countries %}checked{% endif %}> N-Ireland</label></div>
				  <div class="check"><label><input type="checkbox" name="country" value="NZ" {% if "NZ" in countries %}checked{% endif %}> New-Zealand</label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="country" value="SC" {% if "SC" in countries %}checked{% endif %}> Scotland</label></div>
				  <div class="check"><label><input type="checkbox" name="country" value="USA" {% if "USA" in countries %}checked{% endif %}> USA</label></div>
			  </div>
		  </div>
	  </div>
	  <hr>
	  <div class="filter-group">
		  <div class="filter-group-label">
		  <div class="filter-title">Filter by category</div>
		  <div class="filter-info">Not all countries have been categorized.</div>
		  </div>
		  <div class="checkboxes">
			  <div>
				  <div class="check"><label><input type="checkbox" name="category" value="HUM" {% if "HUM" in categories %}checked{% endif %}> Human</label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="category" value="NAT" {% if "NAT" in categories %}checked{% endif %}> Environment</label></div>
			  </div>
			  <div>
				  <div class="check"><label><input type="checkbox" name="category" value="ANI" {% if "ANI" in categories %}checked{% endif %}> Animals</label></div>
			  </div>
		  </div>
	  </div>
  </div>
</form>
